{{ define "head" }}
<!doctype html>
<html lang="en">

<head>
  <title>Agencia</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-expand-lg" style="background-color: lightblue;">
    <div class="container">
        <a class="navbar-brand">Agencia de Viajes</a>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/indexCliente">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/indexHotel">Hoteles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/indexSucursal">Sucursales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/indexVuelo">Vuelos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <div class="container">
{{ end }}